body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(0, 0, 0, 0.5)), url(picture/pretty.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .birthdayCard {
    position: relative;
    width: 250px;
    height: 450px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
  
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(255, 255, 255, 0.2),
      0 10px 100px rgba(255, 255, 255, 0.5);
  }
  
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy {
    visibility: hidden;
  }
  
  .cardFront {
    position: relative;
    background-image: linear-gradient(rgba(45, 42, 56, 0.5),rgba(30, 30, 1, 0.5)), url(picture/lunar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 250px;
    height: 470px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 60px 100px rgba(255, 255, 255, 0.2),
      30px 0 50px rgba(255, 255, 255, 0.4);
    transition: 0.6s;
  }
  
  .happy {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: center;
    margin: 40px;
    background-image: linear-gradient(120deg, #434ff2 0%, #9cb306 100%);
    transition: 0.1s;
    color: white;
  }
  
  .balloons {
    position: absolute;
  }
  
  .balloon-1,
  .balloon-2,
  .balloon-3,
  .balloon-4 {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
  }
  
  .balloon-1 {
    background-color: rgba(235, 248, 50, 0.7);
    left: -10px;
    top: 50px;
  }
  
  .balloon-2 {
    background-color: rgba(235, 248, 50, 0.7);
    left: 50px;
    top: 20px;
  }
  
  .balloon-3 {
    background-color: rgba(235, 248, 50, 0.7);
    left: 110px;
    top: 50px;
  }
  
  .balloon-4 {
    background-color: rgba(235, 248, 50, 0.7);
    left: 170px;
    top: 50px;
  }
  
  .balloon-1::before,
  .balloon-2::before,
  .balloon-3::before,
  .balloon-4::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 275px;
    background-color: #ffc848;
    top: 95px;
    left: 43px;
  }
  
  .balloon-1::after,
  .balloon-2::after,
  .balloon-3::after,
  .balloon-4::after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
  }
  
  .balloon-1::after {
    border-bottom: 10px solid #3e5eff;
  }
  
  .balloon-2::after {
    border-bottom: 10px solid #3e5eff;
  }
  
  .balloon-3::after {
    border-bottom: 10px solid #3e5eff;
  }
  
  .balloon-4::after {
    border-bottom: 10px solid #3e5eff;
  }

  
  .cardInside {
    position: absolute;
    background-color: #001f44;
    width: 250px;
    height: 470px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  .name {
    position: absolute;
    left: 150px;
    top: 200px;
    color: #333;
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    color: #fffb00;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
  }